*{
	margin: 0;
	padding: 0;
	font-family: sans-serif,'Open Sans';
}

.container{
	text-align: center;
	background:lightyellow;
}
.pic{
  padding: 20px;
  width: 130px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.header{
	padding-top: 60px;
	color: #444;
	font-size: 20px;
}
.bf-container{
	max-height: 1600px;
	padding: 49px ;
	display: flex; 
	justify-content: center;
}
.teams{
	margin: 10px;
	padding: 25px;
	max-width: 45%;
	transition:0.4s ;
	box-sizing: border-box;
}
.teams:hover{
   background: #ddd;
   border-radius: 12px;
}
.teams img{
	width: 200px;
	height: 200px;
}
.name{
	padding: 12px;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}
.design{
	font-style: italic;
	color:#804000;
}
.about{
	margin: 20px 0;
	color: ;
}